EMAIL=tu_email@example.com
PASSWORD=tu_password
BROWSER=chrome
HEADLESS=false
SESSION_FILE=session.json
DELAY=60
SWIPE_DELAY_MIN=0.3
SWIPE_DELAY_MAX=1.2
BREAK_MIN=30
BREAK_MAX=60
#MAX_LIKES_PER_DAY=100  # Opcional - comentalo para ilimitado
USE_STEALTH=true
ROTATE_UA=false
HUMAN_LIKE_DELAY=true
#MODOS DE USO
#1.Primera vez - guardar sesion:
KEEP_ALIVE=true
KEEP_ALIVE_MINUTES=5
#2.Despues - usar normalmente (comenta KEEP_ALIVE):
#KEEP_ALIVE=false
